<!DOCTYPE html>
<html>
  <head>
    <%= display_meta_tags(default_meta_tags) %>

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="#000000">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/logo192.png" type="image/png">
    <link rel="apple-touch-icon" href="/logo192.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
  </head>

  <body class="min-h-screen bg-[#e8e7e7]">
    <div class="min-h-screen flex flex-col items-center">
      <main class="w-full flex-1 mx-auto px-4 sm:px-6 pt-6 pb-24">
        <div class="w-full max-w-sm sm:max-w-md md:max-w-lg mx-auto flex flex-col items-center text-center">
          <%= yield %>
        </div>
      </main>

      <% unless @hide_footer %>
        <%= render "shared/footer" %>
      <% end %>
    </div>
  </body>

</html>
